<section class="modal">
  <h1 mat-dialog-title>Passanger</h1>
  <div mat-dialog-content>
    <div class="age-selection">
      <ul>
        <li><strong>Adults</strong></li>
        <li>(Over 12 years old)</li>
        <li>
          <app-control-button operation="decrement"></app-control-button>
          <span>1</span>
          <app-control-button operation="increment"></app-control-button>
        </li>
      </ul>

      <ul>
        <li><strong>Children</strong></li>
        <li>(Between 2 e 11 years old)</li>
        <li>
          <app-control-button operation="decrement"></app-control-button>
          <span>1</span>
          <app-control-button operation="increment"></app-control-button>
        </li>
      </ul>

      <ul>
        <li><strong>Babies</strong></li>
        <li>(Under 12 years old)</li>
        <li>
          <app-control-button operation="decrement"></app-control-button>
          <span>1</span>
          <app-control-button operation="increment"></app-control-button>
        </li>
      </ul>
    </div>

    <div class="categories-selection">
      <p><strong>Category</strong></p>
      <mat-chip-listbox aria-label="Ticket Selection">
        <mat-chip-option selected>1 adult</mat-chip-option>
        <mat-chip-option>Economic Seat</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>SEARCH</button>
  </div>
</section>
