<app-banner
  src="assets/images/banner-homepage.png"
  alt="Banner Application"
></app-banner>
<app-container>
  <h2>Promotion</h2>
  <div class="card-wrapper">
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
  </div>
  <h2>Testimonials</h2>
  <app-card-testimonials></app-card-testimonials>
  <app-card-testimonials></app-card-testimonials>
  <app-card-testimonials></app-card-testimonials>
</app-container>
