<footer class="app-footer">
  <app-container>
    <div class="inner">
      <ul>
        <li>
          <img src="assets/images/logo-com-tagline.png" alt="" />
        </li>
        <li>Opening hours: 08:00 - 20:00 (Monday to Saturday)</li>
        <li>Developed by Lucas. Non-commercial fictional project</li>
      </ul>
      <ul class="socials">
        <li>Social Media:</li>
        <li>
          <button mat-icon-button>
            <img src="assets/icones/whatsapp.png" alt="Ícone do whatsapp" />
          </button>
          <button mat-icon-button>
            <img src="assets/icones/instagram.png" alt="Ícone do instagram" />
          </button>
          <button mat-icon-button>
            <img src="assets/icones/twitter.png" alt="Ícone do twitter" />
          </button>
        </li>
      </ul>
    </div>
  </app-container>
</footer>
